* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  align-items: center;
  padding: 12px 40px;
  justify-content: space-between;
  background-color: azure;
}

header img {
  height: 80px;
}

header nav {
  display: flex;
  gap: 40px;
  border-radius: 16px;
}

header nav a {
  text-decoration: none;
  font-size: 20px;
  color: #41afbd;
}

.home img {
  width: 100%;
}

@media (max-width: 768px) {
  header {
    padding: 6px 20px;
  }

  header nav {
    display: none;
  }
}