* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  align-items: center;
  padding: 12px 40px;
  justify-content: space-between;
  background-color: azure;
}

header img {
  height: 80px;
}

header nav {
  display: flex;
  gap: 40px;
  border-radius: 16px;
}

header nav a {
  text-decoration: none;
  font-size: 20px;
  color: #41afbd;
}

main {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.home {
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home h1 {
  color: #41afbd;
  font-style: italic;
  font-size: 40px
}

.home p {
  width: 800px;
}

.home div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home a {
  color: white;
  background-color:  #41afbd;
  width: 180px;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  text-decoration: none;
}

.address {
  width: 100%;
  text-align: center;
}

.address h2 {
  font-size: 28px;
  color: #41afbd;
  font-style: italic;
}

@media (max-width: 768px) {
  header {
    padding: 6px 20px;
  }

  header nav {
    display: none;
  }
}